@{
    Layout="Shared/_Layout.cshtml";
}

<div class="col l6 push-l6">
  <h1>@Model["venue"].GetName()</h1>
  <a href="/">Back to Home</a>
</div>
<div class="col l6 pull-l6">
  <h3>This venue has hosted </h3>
  @if (@Model["all-bands"].Count == 0)
  {
    <p>You have not added bands yet.</p>
  }
  else
  {
    <ul>
    @foreach(var band in @Model["bands"])
    {
      <li>@band.GetName()</li>
    }
    </ul>
  }
  <h4>Add a band to this venue</h4>
  <form action="/venue/@Model["venue"].GetId()/bands/new" method="post">
  <select name="new-band">
  @foreach (var band in @Model["all-bands"])
  {
    <option value="@band.GetId()">@band.GetName()</option>
  }
  </select>
  <button type="submit" name="button" class="btn waves-effect waves-light">Add<i class="material-icons right">add</i></button>
  </form>
</div>
